/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: 'IBM Plex mono', sans-serif;
  background-color: var(--bg-color);
  block-size: 100vb;
  inline-size: 100%;
  font-size: 18px;
  /* line-height: 130%; */
  padding-inline: var(--page-padding);
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  min-block-size: 100vb;
  margin-block-start: 10px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-auto-flow: row;
}

.decorated-zone::after {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  position: absolute;
  /* background-color: azure; */
  inset-inline-end: 1px;
}

.decorated-zone::before {
  content: '';
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  position: absolute;
  /* background-color: azure; */
  inset-block-end: 10px;
}

.decorated-zone {
  position: relative;
}

.decoration {
  position: relative;
}

.decoration::before {
  content: 'REC';
  position: absolute;
  color: var(--accent-color);
  font-weight: 400;
  font-family: inherit;
  inset-inline-end: 28px;
  inset-block-start: 0;
}

.decoration::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--accent-color);
  inset-inline-end: 9px;
  inset-block-start: 8px;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-block-end: 18px;
  }

  .decorated-zone::after {
    inset-block-start: 10px;
  }

  .decoration::before {
    inset-block-start: 10px;
  }

  .decoration::after {
    inset-block-start: 18px;
  }
}

.header__theme-menu {
  justify-self: end;
  margin-block: clamp(4.0625rem, -2.3783rem + 27.4809vw, 10.8125rem);

  @media (width >= 768px) {
    margin-block-start: 180px;
  }

  @media (width >= 1024px) {
    justify-self: center;
    align-self: baseline;
    margin-block-end: 0;
    margin-block-start: 10px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (width >= 1024px) {
    flex-direction: row;
  }
}

.header__theme-menu-item {
  block-size: 26px;
  inline-size: 70px;
}

.header__theme-menu-button {
  background-color: transparent;
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  color: var(--accent-color);
  inline-size: 100%;
  border: none;
  padding: 2px 13px 4px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--accent-color-rgb), 0.4);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.logo-heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: clamp(5.98125rem, 5.7844rem + 0.8397vw, 6.1875rem);
  font-weight: 700;
  color: var(--logo-text-color);
  text-shadow: 4px 4px 0 var(--accent-color);

  @media (width >= 768px) {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: clamp(6.1875rem, 0.4631rem + 11.9258vw, 8.095625rem);
    margin-inline-start: -20px;
  }
}

@media (width >= 1024px) {
  .header .logo-heading {
    margin-block-start: 273px;
  }
}

.heading {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--accent-color);
  font-size: 18px;
}

.header .heading {
  margin-block-end: clamp(4.125rem, -2.8526rem + 29.771vw, 11.4375rem);
  margin-block-start: clamp(3.4375rem, -2.9437rem + 27.2265vw, 10.125rem);
  justify-self: end;
  max-inline-size: 364px;
  max-block-size: 117px;

  @media (width >= 768px) {
    max-inline-size: clamp(22.75rem, -1.0625rem + 49.6094vw, 30.6875rem);
    margin-block-start: 162px;
    margin-block-end: 183px;
  }

  @media (width >= 1024px) {
    margin-block-start: 114px;
    margin-block-end: 134px;
    max-block-size: 70px;
  }
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.content {
  /* display:none; */
  margin-block-start: 40px;

  @media (width >= 768px) {
    margin-block-start: 60px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-end: 50px;

  @media (width >= 768px) {
    margin-block-end: 80px;
  }
}

.section:last-child {
  margin-block-end: 0;
}

@media (width >= 768px) {
  .section-aside {
    display: grid;
    grid-template-columns: clamp(14.75rem, -0.055rem + 30.8437vw, 19.685rem) auto;
  }

  .heading:not(.title-decor) {
    inline-size: clamp(14.75rem, -0.055rem + 30.8437vw, 19.685rem);
  }
}

.section_content {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

@media (width >= 1024px) {
  /* через гриды не получается сделать растягивающуюся карточку...  */

  /* .section_content-aside {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-auto-flow: row dense;
  }

  .section_content-aside .content-card {
    min-inline-size: max(315px, 100%);
    flex-grow: 1; 
  } */

  .section_content-aside {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section_content-aside .content-card {
    inline-size: calc(100% / 3 - 40px);
    flex-grow: 1;
  }
}

.content-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-text {
  font-weight: 400;
  color: var(--text-color);
}

.content-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content-link:hover {
  border-block-end: 1px solid var(--text-color);
}

.content-link:focus {
  outline: none;
}

.content-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.content-card__heading {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.section-gallery {
  gap: 10px;
  margin-block-end: 40px;
}

.gallery {
  display: grid;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  gap: 10px;

  /* отнимаем по паддингу с каждой стороны от ширины экрана и выбираем между почти шириной экрана и максимально разрешённой тз шириной */
  /* inline-size: min(calc(100vi - 2 * var(--page-padding)), 1400px); */
  inline-size: 100%;
}

.gallery__image {
  /* отнимаем по паддингу с каждой стороны от ширины экрана и выбираем между почти шириной экрана и максимально разрешённой тз шириной */
  /* inline-size: min(calc(100vi - 2 * var(--page-padding)), 1420px);  */
  inline-size: 100%;
}

@media (width >= 768px) {
  .section-gallery {
    gap: 20px;
    margin-block-end: 60px;
  }

  .gallery {
    /* ширина столбцов между 230 и 315 пикселей */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__image {
    block-size: 100%;
    object-fit: cover;
  }

  .gallery__image-tall {
    grid-row: span 2;
  }

  .gallery__image-long {
    grid-column: span 2;
  }
}

.footer {
  min-block-size: 100vb;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (width >=768px) {
    /* min-block-size: 1024px; */
    /* паддинги для подгонки под макет */
    padding-inline-start: 18px;
  }

  @media (width >=1024px) {
    /* min-block-size: 768px; */
    /* паддинги для подгонки под макет */
    padding-inline-start: 18px;
  }
}

footer.decorated-zone::before {
  inset-inline-start: 0;
}

footer.decorated-zone::after {
  inset-block-start: 10px;
}

@media (width >= 768px) {
  footer.decorated-zone::before {
    inset-block-end: 20px;
    inset-inline-start: 0;
  }

  footer.decorated-zone::after {
    inset-block-start: 20px;
  }
}
