.page {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-color-rgb: 255, 0, 112;
  --accent-text-color: #000028;
  --logo-text-color: #db00ff;
  --page-padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  --background-image: url(../images/cover-image-dark.png);
}
